<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Name: The Legend of 1900</title>
</head>
<body>
<h1>Movie Name: The Legend of 1900</h1>
<h2>Search</h2>
<form action="." method="GET">
    <input type="text" name="q">
    <input type="submit" value="Search">
</form>

<h2>Reviews </h2>
<div class="container">
    <table class="table table-responsive">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Comments</th>
            <th scope="col">Stars</th>
        </tr>

        {% for movies in m %}
            <tr>
                <td>{{movies.name}}   </td>
                <td>{{movies.comments}} </td>
                <td>{{movies.stars}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>